#main{padding-top:40px;}
h1{border-bottom:1px solid #898989;line-height:60px;color:#fff;font-size:21px;padding-left:120px;font-weight:normal;margin-bottom:20px;}
.findus-text{padding-left:120px;line-height:18px;}

#map{width:920px;height:288px;overflow:hidden;}













































