
#main{height:620px;padding-top:40px;}
.main-title{height:55px;position:relative;z-index:2;}
h1{float:left;line-height:24px;font-size:20px;color:#fff;font-weight:normal;padding:0 45px 0 66px;}
.main-title-ch{position:absolute;z-index:2;top:28px;left:228px;color:#ffdc1c;font-size:12px;line-height:24px;}
.pluses{width:139px;height:14px;background:url(../images/pluses.gif) no-repeat;margin:6px 0 0 0;}


















































































































