
#main{padding-top:40px;color:#868686;height:550px;}
.nav-left{width:205px;padding-right:70px;}
.contents{width:645px;}

.nav-left li{line-height:18px;border-bottom:4px solid #868686;margin-bottom:28px;padding-bottom:10px;cursor:pointer;
	-webkit-transition:all .15s linear;
	-moz-transition:all .15s linear;
	-o-transition:all .15s linear;
	transition:all .15s linear;
}
.nav-left li.active{border-color:#ffdc1c;color:#ffdc1c;}
.nav-left li.hover{border-color:#ffdc1c;color:#ffdc1c;}

.contents .project-content{display:none;line-height:16px;}
.project-content .project-be-ch{padding-bottom:30px;}
.project-content .project-be-ch li{padding-bottom:15px;}





























































































